In [45]:
import pandas as pd
import numpy as np
data = pd.read_csv('jobs.csv', index_col=0)

# Say, we have a dataframe with lists as values:

[Link to the destination](#the_destination)

In [46]:
data

                                                     JobRoleInterest
1                                           Full-Stack Web Developer
2                  Front-End Web Developer,Back-End Web Developer...
6                                           Full-Stack Web Developer
13                 Back-End Web Developer,Full-Stack Web Develope...
14                                          Full-Stack Web Developer
...                                                              ...
18156                                       Full-Stack Web Developer
18163              Back-End Web Developer,Data Engineer,Data Scie...
18174              Back-End Web Developer,Data Engineer,Data Scie...
MoneyForLearning                                                 NaN
MonthsProgramming                                                NaN

[4230 rows x 1 columns]

# value_counts() is not going to work well with that:

In [47]:
data['JobRoleInterest'].value_counts()

Full-Stack Web Developer                                                                                                                                                                                                                           484
Front-End Web Developer                                                                                                                                                                                                                            244
Data Scientist                                                                                                                                                                                                                                      91
Back-End Web Developer                                                                                                                                                                                                                              74
Game Developer                                                                                                                                                                                                                                      66
                                                                                                                                                                                                                                                  ...
Mobile Developer,Full-Stack Web Developer,DevOps / SysAdmin,Back-End Web Developer,Front-End Web Developer                                                                                                                                           1
Data Engineer,Back-End Web Developer,Information Security,Front-End Web Developer                                                                                                                                                                    1
Quality Assurance Engineer,Mobile Developer,Front-End Web Developer,Information Security,Full-Stack Web Developer,Data Engineer,User Experience Designer,Product Manager,Data Scientist,Game Developer,DevOps / SysAdmin,Back-End Web Developer      1
Front-End Web Developer,Quality Assurance Engineer,User Experience Designer,Full-Stack Web Developer,Game Developer                                                                                                                                  1
Back-End Web Developer,Data Engineer,Data Scientist,DevOps / SysAdmin                                                                                                                                                                                1
Name: JobRoleInterest, Length: 2196, dtype: int64

<a id='the_destination'></a>

# Solution:
We may need to add a few string-modifying steps before, if our lists are separated with a bit more than a coma. But in the current example all we need is:

In [50]:
data['JobRoleInterest'].str.split(',', expand=True).stack().value_counts()

Full-Stack Web Developer                                 2601
Front-End Web Developer                                  2182
Back-End Web Developer                                   1738
Mobile Developer                                         1419
Data Scientist                                           1056
                                                         ...
Systems Programming                                         1
AI and Machine Learning                                     1
data analyst                                                1
Networking                                                  1
Criminal Defense Attorney-- focusing on cyber crimes        1
Length: 149, dtype: int64

Voila!